<mat-toolbar color="primary">
  <button mat-icon-button (click)="nav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="logo">Logo</div>
  <div class="extra"></div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-wrapper">
  <mat-sidenav #nav opened mode="side">
    <button mat-button (click)="toggleSubMenu('itemsSubMenu')">
      <mat-icon>shopping_cart</mat-icon>
      <span>Items</span>
      <mat-icon>{{ isSubMenuOpen('itemsSubMenu') ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
    <div *ngIf="isSubMenuOpen('itemsSubMenu')">
      <a [routerLink]="['/items/addItem']" color="primary">
        <button mat-button>
          <span>Add New Item</span>
        </button>
      </a>
      <a [routerLink]="['/items/viewItems']" color="primary">
        <button mat-button>
          <span>View Items</span>
        </button>
      </a>   
    </div>
    
    <button mat-button (click)="toggleSubMenu('amountSubMenu')">
      <mat-icon>monetization_on</mat-icon>
      <span>Amount</span>
      <mat-icon>{{ isSubMenuOpen('amountSubMenu') ? 'expand_less' : 'expand_more' }}</mat-icon>
    </button>
    <div *ngIf="isSubMenuOpen('amountSubMenu')">
      <a [routerLink]="['/amount/givenAmount']" color="primary">
        <button mat-button>
          <span>Given Amount</span>
        </button>
      </a>
      <a [routerLink]="['/amount/finalAmount']" color="primary">
        <button mat-button>
          <span>Final Amount</span>
        </button>
      </a>
      <a [routerLink]="['/amount/totalAmount']" color="primary">
        <button mat-button>
          <span>Total Amount</span>
        </button>
      </a>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
